.section-title {
  margin-bottom: 40px;
}

.section-title.center {
  text-align: center;
}

.section-title-text {
  font-size: 55px;
  font-weight: 300;
  color: #1B1B1C;
  line-height: 1.1;
}

@media (max-width: 768px) {
  .section-title-text { font-size: 32px; }
}

.section-subtitle {
  font-size: 18px;
  color: #666;
  margin-top: 12px;
}
